.selectWrapper {
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 15px;
}
.selectWrapper h1 {
  font-size: 24px;
  margin: 0 12px;
  position: relative;
  top: 6px;
  margin-left: 4px !important;
  font-weight: 700;
}
.selectWrapper .css-b62m3t-container {
  width: 276px !important;
  height: 28px !important;
}
