.mainBoxCard {
  background-color: #000;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.Eventsbtn {
  background-color: #cb2c2c;
  width: auto;
  border: 0;
  letter-spacing: 1px;
  height: 34px;
  box-shadow: 0px 1px 4px 0px #00000033;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  margin-top: 6px;
  letter-spacing: 1px;
  font-family: "Inter", sans-serif;
  padding: 0 15px;
}
.apprenticeScheuleBtn {
  width: 239px;
  height: 38px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 14px;
}
.BtnEvent {
  width: 140px;
  height: 38px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 14px;
}
.intesertbtn {
  width: 199px !important;
  height: 34px !important;
  font-size: 15px !important;
  margin: 0 !important;
  position: absolute;
  right: 18px;
  top: 33%;
}
.class div {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  text-align: left !important;
}
.class h6 {
  text-align: start !important;
  padding-left: 8px;
  margin-bottom: 0;
}
.community {
  color: #fff;
  border: 1px solid #dddddd;
  padding: 14px 16px;
  border-radius: 5px;
  margin-top: 16px;
}

.community {
  color: #fff;
  border: 1px solid #dddddd;
  padding: 14px 16px;
  border-radius: 5px;
  margin-top: 16px;
}
.comminitypage br {
  display: none;
}
.community h3 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  line-height: 36px;
  letter-spacing: 1px;
  font-weight: 800;
}
.community p {
  font-size: 13px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  padding-top: 5px;
}
.mainSection {
  border-bottom: 1px solid #474747;
  padding-bottom: 6px;
  margin-bottom: 20px;
}
.community h6 {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}
.detailsCommunity h6 {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  letter-spacing: 1px;
}
.detailsCommunity p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}
.eventDetails h6 {
  color: #fff;
  font-size: 21px;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
}
.eventForum {
  position: relative;
}
.eventDetails p {
  color: #fff;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.eventDetails {
  position: relative;
}
.eventDetails textarea {
  background-color: #292929 !important;
  border: 1px solid #333 !important;
  color: #fff;
  border-radius: 5px;
}
.communityEvent {
  background: #2e2e2e;
  color: #fff;
  padding: 12px 14px;
  border-radius: 5px;
  margin: 10px 7px 10px 21px;
  position: relative;
  top: 79px;
}
.communityEvent li {
  list-style: none;
}
.publishSection {
  width: 65%;
  padding-left: 3%;
}
.notifiaction h3 {
  font-size: 24px;
  color: #fff;
  font-family: "Proxima-nova";
  font-weight: 700;
}
.notifiaction {
  color: #fff;
  height: 100vh;
  margin-bottom: 20px;
}
.notificationCard {
  display: flex;
  align-items: center;
}
.notifiaction svg path {
  fill: #fff !important;
}
