.community h3 {
  font-size: 24px;
  font-family: "Proxima Nova";
  line-height: 36px;
  letter-spacing: 1px;
  font-weight: 800;
}
.community p {
  font-size: 13px;
  font-weight: 400;
  font-family: "Proxima Nova";
  letter-spacing: 1px;
  padding-top: 5px;
}
.mainSection {
  border-bottom: 1px solid #474747;
  padding-bottom: 6px;
  margin-bottom: 20px;
}
.community h6 {
  font-size: 18px;
  font-family: "Proxima Nova";
  font-weight: 800;
  letter-spacing: 1px;
}
.detailsCommunity h6 {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  letter-spacing: 1px;
}
.detailsCommunity p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Proxima Nova";
  letter-spacing: 1px;
}
.eventDetails h6 {
  color: #fff;
  font-size: 21px;
  font-weight: 800;
  font-family: "Proxima Nova";
  letter-spacing: 2px;
}
