@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
.questionBox .ant-select-selection-item {
  padding-top: 13px !important;
}
button.ql-link {
  display: none !important;
}
.ql-container.ql-snow {
  height: 100% !important;
  max-height: 100% !important;
  min-height: 40vh !important;
}
.btnUpdates {
  text-align: end;
  margin-bottom: 35px;
}
.eventForms .text-start label {
  padding-left: 11px !important;
}
.eventForms .scheduleSection p {
  padding: 0 !important;
}
.btn.filleds {
  width: auto !important;
  padding: 0 10px !important;
}
.dataErrors {
  padding-left: 18px;
}
.btnPublish {
  width: auto !important;
}
.eventForms .requirements p {
  padding: 0 18px !important;
}
.apprenticeText {
  text-align: center;
}
.eventForms .requirements1 p {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.eventForms .waiverSetting p {
  padding-left: 31px !important;
  padding-top: 4px !important;
  font-weight: 400 !important;
}

.eventForms .startDate {
  padding-left: 11px !important;
}
.btnUpdate {
  text-align: end;
}
.eventForms .boxed-user {
  margin-top: 34px !important;
}
.eventForms .ql-picker-label {
  color: #000 !important;
}
.eventForms .multiField h3 {
  padding-left: 18px !important;
}
.eventForms .questionBox p {
  padding-left: 0 !important;
}
.eventForms .customText {
  padding-left: 0 !important;
}
.eventForms .eventError {
  font-weight: 400 !important;
  position: relative;
  bottom: 10px;
}
.eventForms h3 {
  padding-left: 0 !important;
}
.eventForms button span {
  color: #fff;
}
.eventForms .boxed-user .selected span {
  color: #fff !important;
}
.eventForms .ant-select-selection-item {
  color: #000 !important;
}
.eventForms .boxed-user .unselect span {
  color: #cb2c2c !important;
}
.eventForms .boxed-user p {
  padding: 0 !important;
}
.eventForms .boxed-user h4 {
  text-align: center !important;
}
.btnUpdates button {
  border-radius: 3px;
  position: relative;
  top: 17px;
  right: 20px;
  height: 38px;
  padding: 0 15px !important;
}
.btnUpdates button span {
  color: #fff !important;
}
.btnUpdate button {
  border-radius: 3px;
  position: relative;
  top: 17px;
  right: 20px;
  height: 38px;
  padding: 0 15px !important;
}
.btnUpdate button span {
  color: #fff !important;
}

.eventForms .eventForem {
  text-align: left !important;
}
.eventForms .lastStep div:nth-child(2) {
  margin-top: 0 !important;
}
.eventForms .dataError {
  display: none;
}
.eventForms .Transaction {
  padding-left: 0 !important;
  padding-top: 0px !important;
  padding-bottom: 0 !important;
}
.eventForms .alertText {
  color: #fff !important;
}
.eventForms .formik {
  display: none !important;
}
.eventForms h4 {
  text-align: left !important;
}
.eventForms .textArea_section {
  text-align: left;
}
.waiverSetting:nth-child(3) {
  padding-left: 21px !important;
}
.alerts {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  text-transform: capitalize;
  max-width: 538px;
  margin: 0 8px;
}
.alerts p:nth-child(2) {
  position: relative;
  right: 7px;
}

.alerts p {
  margin-left: 0 !important;
}
.boxed-user div:nth-child(1) {
  height: 190px !important;
}
.whiteTrash {
  position: absolute;
  right: 14%;
  bottom: 19%;
  cursor: pointer;
}
.btnes {
  max-width: 100% !important;
  min-width: 100%;
}
.eventInter {
  margin-bottom: 22px !important;
}
.formik {
  padding-top: 4px;
}
.eventInter h4 {
  font-size: 16px !important;
  font-weight: 500 !important;
  margin-bottom: 4px !important;
  padding-left: 1px !important;
}
.eventInter div:nth-child(2) {
  padding-bottom: 0 !important;
  border-bottom: 0 !important;
}
.eventInter div:nth-child(2) {
  margin-left: 1px !important;
  margin-top: 0 !important;
}
.eventInter div:nth-child(3) {
  margin-left: 1px !important;
}
.eventInter div:nth-child(1) {
  padding-bottom: 0 !important;
  border-bottom: 0 !important;
}
.viewBtn {
  width: auto !important;
  height: 22px !important;
  padding: 0px 6px !important;
  margin: 0 !important;
  border-radius: 3px !important;
}
.courseBtn {
  display: flex;
  flex-flow: wrap;
}
.viewBtn span {
  font-size: 12px !important;
}
.timeDropdown {
  background: #333333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
}
.timeDropdown .ant-space-item svg path {
  fill: #fff !important;
}
.error-message {
  margin-bottom: 0;
  color: red;
  position: relative;
  left: 4px;
  bottom: 8px;
}
svg.deleted {
  position: relative;
  bottom: 9px;
  cursor: pointer;
  left: 17px;
}
.white.card #dropdown-basic {
  border: 1px solid #fff !important;
}
.cards.black.card .settingIcon path {
  fill: #333 !important;
}
.cards.black.card .eventTitle h5 {
  color: #000;
  font-weight: bold;
}
.cards.black.card .eventTitle p {
  color: #000;
}
.loader {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 999;
  background-color: #0000006e;
  text-align: center;
}
.loader .spinner-border {
  width: 100px;
  height: 100px;

  position: absolute;
  top: 43%;
  right: 50%;
}
.startDate {
  display: flex;
  align-items: center;
  padding: 0 !important;
}
.startDate input {
  width: 102px !important;
  height: 55px;
  border-radius: 3px;
}
.startDate .ant-select-selection-item {
  padding-top: 10px !important;
}
.startDate .span.ant-select-arrow {
  position: relative;
  top: 28px !important;
  right: 16px !important;
}
.startDate .ant-select-selector {
  width: 235px !important;
  text-align: left !important;
  height: 55px !important;
  border-radius: 3px !important;
}
.courseModal {
  width: 734px !important;
}
.radioBtns {
  margin-left: 16px;
  display: flex;
}
.rdp-month.rdp-caption_start.rdp-caption_end {
  width: 370px !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background: #cb2c2c !important;
  border: #cb2c2c !important;
  border-radius: 1px !important;
}
.ant-checkbox {
  position: relative;
  bottom: 1px !important;
}
.rdp-caption {
  justify-content: start !important;
}
.rdp-nav_icon path {
  fill: #fff !important;
}
.timeSelect div {
  padding: 0 !important;
}
.timeSelect {
  position: relative;
  bottom: 10px;
  left: 9px;
}
.timezoneData label {
  font-size: 12px !important;
  color: #5c5c5c;
  font-weight: bold;
}
.timeZone {
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
.timeZone .ant-picker {
  height: 45px !important;
  border: 1px solid #cccccc !important;
  border-radius: 4px !important;
  width: 116px !important;
}
.timezoneData {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  padding-left: 10px;
}
.rdp-nav_icon {
  background: #cb2c2c !important;
  width: 27px !important;
  padding: 7px !important;
  height: 26px !important;
}
.rdp {
  margin-top: 4px !important;
  margin-left: 10px !important;
}
.rdp-day_today {
  background: #cb2c2c !important;
  color: #fff !important;
}
.rdp-day_selected {
  background-color: #fff !important;
  border: 2px solid #cb2c2c !important;
  color: #000 !important;
  font-weight: bold !important;
}
.rdp-caption_label {
  font-size: 14px !important;
  color: #333333 !important;
}
table.rdp-table {
  max-width: 370px !important;
  margin: 0 !important;
  width: 355px !important;
}
/* @font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/b683e3/00000000000000003b9b306c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/b683e3/00000000000000003b9b306c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff"),
    url("https://use.typekit.net/af/b683e3/00000000000000003b9b306c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/d82519/00000000000000003b9b306a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/d82519/00000000000000003b9b306a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("woff"),
    url("https://use.typekit.net/af/d82519/00000000000000003b9b306a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/f7d492/00000000000000003b9b3067/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/f7d492/00000000000000003b9b3067/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/f7d492/00000000000000003b9b3067/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/40ff7f/00000000000000003b9b3061/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/40ff7f/00000000000000003b9b3061/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/40ff7f/00000000000000003b9b3061/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
} */
::placeholder {
  font-family: "Inter" !important;
  color: #000 !important;
}
.bodyLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bodyLink span {
  color: #cb2c2c;
  font-weight: bold;
}
.cards.card .card-body {
  padding: 10px !important;
}
.outlineShare {
  width: auto !important;
  margin: 0 !important;
  height: auto !important;
  padding: 8px !important;
  border: 1px solid #333333 !important;
  border-radius: 3px;
}
.cards.card .dropdown {
  position: absolute;
  right: 0;
  top: 9px;
}
.settingIcon path {
  fill: #fff !important;
}
.copyShare {
  width: auto !important;
  margin: 0 !important;
  height: auto !important;
  padding: 8px !important;
  border-radius: 3px;
}
.cards.card {
  height: 232px !important;
  overflow: hidden;
  margin: 14px 10px 10px;
}
.bottomButton {
  display: flex;
  border-top: 1px solid #ddd;
  padding-top: 6px;
  margin-top: 5px;
}
.bottomButton .ant-switch-inner {
  background: #cb2c2c !important;
}
.bottomButton button {
  margin-left: 10px;
}
.bottomButton span {
  color: #444;
  font-size: 16px;
  font-weight: bold;
}
.eventTitle {
  position: absolute;
  bottom: 27%;
  width: 100%;
  color: #fff;
}
.eventTitle h5 {
  font-size: 17px;
  margin-bottom: 0;
  padding-left: 12px;
}
.eventTitle p {
  font-size: 13px;
  margin-bottom: 0;
  padding-left: 12px;
  padding-bottom: 10px;
}
.cards.card img {
  height: 170px;
  object-fit: cover;
}
.guestBody {
  background: #f3f3f3;
  padding-bottom: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.registerModal .bg-white {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.input-1 {
  text-align: center;
}
.input-3 input {
  width: 95% !important;
}
.billingDiv {
  padding: 17px;
}
.paypal {
  border: 1px solid #bfbfbf;
  padding: 14px 14px 10px 14px;
  border-radius: 3px;
  font-weight: bold;
}
.orderSummary p {
  margin-bottom: 0;
  font-weight: bold;
}
.total {
  color: #666;
  font-weight: bold;
  padding-top: 10px;
}
.orderBtn button {
  height: 48px;
  border-radius: 3px;
}
.orderBtn {
  text-align: end;
  margin-top: 16px;
}
.orderSummary h5 {
  font-size: 14px;
  font-weight: 300;
  padding-top: 5px;
  color: #000;
}
.orderSummary {
  border-bottom: 1px solid #c9c9c9;
}
.summary {
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #666 !important;
  border-bottom: 1px solid #c9c9c9;
}
.orderSummary h6 {
  color: #333333;
  margin-right: 39px;
  padding-top: 10px;
}
.orderSummary span {
  font-size: 14px;
  color: #666666;
  font-weight: bold;
}
.cvvSection {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.cvvSection input {
  margin: 0 7px 0 0px !important;
}
.cvvSection input:nth-child(3) {
  margin-right: 0 !important;
}
.creditSection input {
  border: 1px solid #bfbfbf !important;
  border-radius: 3px !important;
  height: 48px !important;
}
.billingDiv h4 {
  color: #5c5c5c;
  font-size: 24px;
  font-weight: bold;
}
.creditSection {
  border: 1px solid #bfbfbf;
  background: #f3f3f3;
  padding: 15px;
  border-radius: 3px;
}
.input-4 input {
  width: 330px !important;
}
.input-6 {
  text-align: start !important;
}
.input-6 input {
  width: 164px !important;
}
.input-4 {
  text-align: center !important;
}
.input-3 {
  text-align: center !important;
}
.input-1 input {
  width: 330px !important;
}
.publicView input {
  height: auto !important;
}
.billingInformation button {
  width: 342px !important;
  background: #aeaeae !important;
}
.billingInformation {
  display: flex;
  align-items: center;
  justify-content: end;
}
.BillingBody .ant-select-selector {
  height: 48px !important;
}
.BillingBody input {
  height: 48px;
  margin-bottom: 16px;
  border-radius: 3px;
}
.BillingBody .ant-select {
  width: 88% !important;
}
/* .appendSection {
  display: flex;
} */
.appendSection input {
  width: 307px !important;
  margin-right: 6px;
  margin-left: 4px;
}
.appendSection button {
  background: #cb2c2c;
  border: 0;
  width: 30px !important;
  height: 30px !important;
  color: #fff;
  position: absolute;
  right: 18px;
  top: 10px;
}

.guestBody h3 {
  color: #5c5c5c;
  font-size: 24px;
  font-weight: bold;
  padding-left: 5px;
}
.publicView {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 6px;
}
.publicView p span {
  font-weight: 400;
  font-style: italic;
}
.publicView p {
  margin-bottom: 0;
  color: #333;
  font-weight: 500;
  margin-left: 6px;
}
.guest button {
  width: 97%;
  height: 48px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 3px;
}
.guest {
  width: 702px;
  margin: 0 auto;
}
.guest .ant-col.ant-col-md-12 {
  margin: 0 0px;
  text-align: center;
}
.guestBody input {
  height: 48px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  width: 341px;
  margin-bottom: 16px;
}
.registerBody {
  width: 500px;
  margin: 20px auto;
  text-align: center;
}
.scheduleSteps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
.counters {
  display: flex;
}

.counters span {
  margin-right: 5px;
  width: 39px !important;
  display: block;
  height: 10px;
  background: #bfbfbf;
}
.verificationError {
  width: 348px;
  margin: 3px auto;
  text-align: left;
  text-transform: capitalize;
}
.verificationErrors {
  margin-bottom: 0;
  text-align: left;
  margin-left: 7px;
  position: relative;
  bottom: 9px;
  text-transform: capitalize;
}
.registerBody input {
  height: 48px;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  width: 348px;
  /* margin-bottom: 15px; */
}
.registerBody button {
  height: 48px;
  width: 348px;
  border-radius: 3px;
  margin-bottom: 16px;
  font-weight: bold;
}
.registerBody h1 {
  font-size: 32px;
  color: #5c5c5c;
  font-weight: bold;
}
.courseModal .ant-modal-content {
  padding: 0 !important;
}
.courseModal .ant-modal-footer {
  display: none !important;
}
.courseModal .ant-radio-wrapper .ant-radio-inner::after {
  background-color: red !important;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}
h3 {
  font-family: "Inter" !important;
}
button span {
  font-family: "Inter" !important;
}
span {
  font-family: "Inter" !important;
}
a {
  text-decoration: none !important;
}
.timePickers {
  width: 367px;
  height: 55px;
  border-radius: 4px;
}
.userBoxed .boxed-user {
  width: 248px !important;
  margin: 0 !important;
}
.navbar-expand-lg .navbar-nav {
  align-items: center;
}
.css-1nmdiq5-menu {
  position: absolute !important;
  background-color: #fff !important;
  color: #000 !important;
  height: 200px !important;
  overflow: hidden !important;
}
/* #react-select-2-listbox {
  position: absolute !important;
  background-color: #fff !important;
  color: #000 !important;
  height: 200px !important;
  overflow: hidden !important;
} */
.ant-input-affix-wrapper.ant-input-textarea-affix-wrapper {
  border: 0 !important;
}

.DropdownSelects .ant-select {
  width: 105px !important;
}

:where(.css-dev-only-do-not-override-zjzpde).ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: #cb2c2c !important;
  border-color: #cb2c2c !important;
}
.waiverSetting {
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 4px 18px 20px;
}
.waiverSetting .quill {
  width: 96%;
  margin: 10px 0 20px !important;
}
.waiverSetting p {
  font-size: 12px;
  padding-left: 22px;
  padding-bottom: 20px;
}
.questionBox {
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-left: 18px;
  margin-bottom: 20px;
}
body {
  font-family: "Inter", sans-serif !important;
}
h6 {
  font-family: "Inter", sans-serif !important;
}
.antSelectDropdown {
  width: 237px !important;
  height: 55px !important;
}
.antSelectDropdown .ant-select-selector {
  height: 55px !important;
  border-radius: 3px !important;
}
/* @font-face {
  font-family: 'Inter', sans-serif;
  src: url(../assets/fonts/ProximaNova-Regular.otf);
}
@font-face {
  font-family: "Proxima Bold";
  src: url(../assets/fonts/Proxima\ Nova\ Alt\ Bold.otf);
} */

:where(.css-dev-only-do-not-override-1km3mtt).ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: #cb2c2c;
  border-color: #cb2c2c;
}
.profileSections .contentSpan span {
  color: #fff !important;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  position: relative;
  bottom: 10px;
}
.activeborder {
  border: 1px solid #ff3030 !important;
}
.section .available {
  padding-left: 21px !important;
}
.activeclass {
  background: #cb2c2c !important;
  color: #fff !important;
  width: 127px !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.Cardsselect .bottomstep div {
  border-bottom: 0 !important;
  border-top: 1px solid #414141;
}
.Cardsselect .bottomstep .btnheding {
  border: 0 !important;
}
.btn.btn-outline-grey span svg {
  position: relative;
  right: 8px;
  bottom: 1px;
}
.btn.btn-grey span {
  margin-right: 0 !important;
}
.textAreaQuill h4 {
  display: none !important;
}
.css-b62m3t-container {
  width: 276px !important;
  height: 25px !important;
}
.textAreaQuill .quill {
  margin-top: 0 !important;
}
nav.navbar.navbar-expand-lg.navbar-light br {
  display: none !important;
}
.no_data {
  text-align: center;
  color: #fff;
}
.hideProfile h4 {
  display: none !important;
}
.ant-tabs .replyevent {
  display: none;
}
.mainAccount .arrowclick path {
  fill: rgb(255, 48, 48) !important;
}
.scheduleclr path {
  fill: #cb2c2c;
}
.bottomdiv div {
  border-bottom: 0 !important;
  border-top: 1px solid #414141;
  margin-bottom: 0px;
  justify-content: right;
}
.eventSummary .show.dropdown .dropdownSwitch {
  display: block !important;
  padding-top: 10px !important;
}
.ListPublish button {
  border: 1px solid #fff !important;
}
.ListPublish button svg path {
  fill: #fff !important;
}
.profileSections {
  border: 1px solid #dddddd;
  border-radius: 8px;
  color: #fff;
  width: 830px;
  font-family: "Inter", sans-serif;
}
.bottomdiv .btnheding {
  border-top: 0 !important;
}
.hideProfile .photosection {
  padding-left: 0 !important;
}
.no_data h1 {
  position: relative;
  top: 30px;
}
.eventRequirement .quill {
  width: 740px;
  position: relative;
  right: 10px;
  margin-top: 16px !important;
  margin-bottom: 16px;
  height: 204px !important;
}
.eventRequirement {
  border-bottom: 1px solid #555555;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.eventRequirement h5 {
  font-size: 21px;
  padding-left: 16px;
}
.eventRequirement p {
  font-size: 16px;
  width: 540px;
  padding-left: 17px;
  font-weight: 400;
}
.quill {
  background: #fff !important;
  width: 550px;
  border-radius: 4px !important;
  /* height: 300px !important; */
  margin-top: 20px !important;
}
.ql-container.ql-snow {
  border: 0 !important;
}
.eventPic img {
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
}
.css-13cymwt-control {
  background: #f3f3f3;
  height: 26px !important;
}
.profileSection ul li {
  list-style: none;
  padding: 12px 0 0;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.Instructor svg path {
  fill: #cb2c2c;
}
.Instructor input {
  height: 56px;
  border: 1px solid #a9adb9;
  border-radius: 3px;
  font-family: "Inter", sans-serif;
}
.btn.selected {
  width: 127px;
  height: 37px !important;
  margin: 0 auto;
  align-items: flex-end;
  font-family: "Inter", sans-serif;
  background: #cb2c2c;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  padding-top: 5px;
  display: flex;
}
.btn.configure:hover {
  background-color: #363636;
  color: #fff;
}
.btn.selected svg {
  position: relative;
  right: 2px;
}
.accountSetup {
  width: 800px;
  margin: 0 auto;
  text-align: start;
}
.ant-checkbox .ant-checkbox-inner:after {
  border: 2px solid #000 !important;
}
.ant-checkbox .ant-checkbox-inner:after {
  border: 2px solid #000 !important;
  border-top: 0 !important;
  border-left: 0 !important;
}
.ql-editor p {
  color: #000 !important;
}
.profileSection h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  top: 7px;
  left: 0px;
  letter-spacing: 1px;
  position: relative;
}
.profileSection {
  width: 800px;
  margin: 0 auto;
  border: 1px solid #dddddd;
  border-radius: 8px;
  color: #fff;
  font-family: "Inter", sans-serif;
}
.btn.configure {
  width: 446px;
  font-family: "Inter", sans-serif;
  height: 56px;
  color: #fff;
  background: #363636;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;

  margin-top: 32px;
}
.photosection h4 {
  left: 0 !important;
}
.btn.selected:hover {
  width: 127px;
  height: 37px;
  background: #cb2c2c;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  padding-top: 5px;
}
.btn.select {
  width: 83px;
  height: 37px;
  box-shadow: 0px 1px 4px 0px #00000033;
  background: #fff;
  color: #cb2c2c;
  font-weight: 700;
  border-radius: 3px;
  font-size: 17px;
}
.btn.select:hover {
  width: 83px;
  height: 37px;
  box-shadow: 0px 1px 4px 0px #00000033;
  background: #fff;
  color: #cb2c2c;
  font-weight: 700;
  border-radius: 3px;
  font-size: 17px;
}
.btn-outline-grey {
  width: 446px;
  height: 59px;
  background: transparent;
  color: #fff !important;
  border-radius: 4px;
  font-size: 20px !important;
  padding-top: 1px;
  font-weight: 700;
  margin-top: 30px;
}
.profileSections .ant-input-data-count {
  color: #333 !important;
}
.btn.btn-outline-grey {
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
}
.openbtn {
  width: auto !important;
  height: 37px !important;
  font-size: 17px !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  padding: 0 10px;
  border-radius: 3px !important;
}
.userBoxed .boxed-user button {
  width: auto !important;
}
.schedule .btn.selected {
  /* background: #fff !important; */
  color: #cb2c2c;
  width: 83px;
  margin-bottom: 10px;
  justify-content: center !important;
}
textarea {
  border-radius: 3px !important;
}
.textArea_section div {
  padding-left: 18px !important;
}
.textArea_section div h4 {
  display: none !important;
}
.textArea_section .quill {
  padding-left: 0px !important;
  margin-top: 0 !important;
}
:where(.css-dev-only-do-not-override-1km3mtt).ant-btn-default:not(
    :disabled
  ):hover {
  color: #fff !important;
  border-color: #fff !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn.btn-grey {
  border-radius: 4px;
  border: 0 !important;
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  padding-top: 4px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.ql-toolbar.ql-snow {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.mainAccount .ant-select {
  width: 152px !important;
}
.mainAccount .ant-select-selector {
  border-radius: 3px !important;
}

.profileBox button {
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
  text-align: center !important;
  padding: 4px 10px !important;
  border: 1px solid #5c5c5c !important;
  border-radius: 3px !important;
  margin-right: 6px !important;
}
.profileBox button svg {
  left: 0 !important;
}
.mainAccount .ant-select-selection-item {
  color: #333 !important;
  font-family: "Inter", sans-serif;

  padding: 6px;
  font-weight: 600 !important;
}
.accountSetup .ant-select-selector {
  padding-top: 7px !important;
}
.DropdownSelects .ant-select-selector {
  border-radius: 0px !important;
  margin: 0 !important;
  width: auto !important;
  padding: 0 !important;
}
.ant-select-dropdown.css-dev-only-do-not-override-1km3mtt.ant-select-dropdown-empty.ant-select-dropdown-placement-topLeft {
  width: 550px !important;
  min-width: 550px !important;
}
.listevent label.ant-checkbox-wrapper.css-dev-only-do-not-override-1km3mtt {
  position: absolute !important;
  right: 0 !important;
  opacity: 0 !important;
}
.DropdownSelects .ant-select-selector {
  height: 55px !important;
  border-radius: 3px !important;
}
.DropdownSelects span.ant-select-selection-item {
  padding: 10px !important;
}
.DropdownSelects .ant-select-selection-item {
  background: transparent !important;
  color: #000 !important;
  font-family: "Inter", sans-serif;
  width: auto !important;
  height: auto !important;
}
.listevent {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
}
button.ant-btn.css-dev-only-do-not-override-1km3mtt.ant-btn-default.btn.btn-grey.btnCreate
  span {
  margin: 0 !important;
}
.ant-radio-inner {
  border-color: #000 !important;
}
/* .ant-tabs.ant-tabs-top.css-dev-only-do-not-override-1km3mtt {
  max-width: 810px;
  margin: 0 auto;
} */
.ant-tabs-nav-wrap {
  justify-content: space-between;
}
.ant-tabs-nav-list {
  width: 86%;
  justify-content: space-between;
  margin: 0 auto;
}
#dropdown-basic:after {
  content: "";
  background-image: url(../assets/images/down.svg) !important;
  position: relative;
  width: 14px;
  height: 10px;
  background-repeat: no-repeat;
  top: 5px;
  left: 3px;
  border: 0 !important;
}
.dropdown-toggle::after {
  content: "";
  background-image: url(../assets/images/down.svg) !important;
  position: relative;
  width: 14px;
  height: 10px;
  background-repeat: no-repeat;
  top: 5px;
  left: 3px;
  border: 0 !important;
}
.mainAccount .nav-link.active:after {
  content: "";
  background-image: url(../assets/images/drag.svg);
  position: absolute;
  width: 15px;
  height: 10px;
  background-repeat: no-repeat;
  top: 15px;
  left: 0px;
}
.mainAccount .nav-item {
  position: relative;
}
.ant-radio-checked .ant-radio-inner {
  border-color: #ff3030 !important;
  background-color: #ff3030 !important;
}
.eventsections {
  color: #fff;
}
.eventsections div {
  padding-left: 0 !important;
  border-bottom: 0 !important;
  padding-bottom: 10px !important;
}
.eventsections h4 {
  font-size: 21px;
  margin: 0;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}
.activeClass svg path {
  fill: #ff3030 !important;
}
.eventsections input {
  margin-left: 0 !important;
  width: 560px !important;
  margin-top: 9px !important;
}
.eventsections .quill {
  width: 560px !important;
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}
.eventsections h4 {
  padding-left: 0 !important;
}
.profilePage .photosection {
  padding-left: 0 !important;
  color: #fff;
  width: 560px;
}
.profilePage .photosection h4 {
  padding-bottom: 8px !important;
}
.ant-radio-wrapper .ant-radio-inner::after {
  background-color: #000 !important;
}
.linkedpage span.ant-switch-inner {
  border: 1px solid #cb2c2c !important;
  background: #cb2c2c !important;
}
.linkedpage .ant-switch-handle:before {
  background: #212121 !important;
}
.snoozedropdown select {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
}

.ant-tabs-tab.ant-tabs-tab-active:after {
  content: "";
  background-image: url(../assets/images/down.svg);
  position: absolute;
  width: 15px;
  height: 10px;
  background-repeat: no-repeat;
  top: 0;
  left: 3px;
}
.ant-tabs-tab.ant-tabs-tab-active span {
  color: #fff !important;
}
.ant-tabs-tab.ant-tabs-tab-active {
  font-size: 17px !important;
  font-weight: 600 !important;
  font-family: "Inter", sans-serif;
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.ant-tabs-tab {
  padding-bottom: 0 !important;
}
.ant-tabs-tab span {
  font-size: 17px !important;
  color: #fff !important;
  font-family: "Inter", sans-serif;
  font-weight: 600 !important;
}
.ant-tabs-tab svg {
  margin-right: 8px;
  position: relative;
  bottom: 2px;
}
.ant-tabs-tab.ant-tabs-tab-active svg {
  margin-right: 8px;
  position: relative;
  bottom: 2px;
}
.ant-tabs-tab.ant-tabs-tab-active svg path {
  fill: #ff3030 !important;
}
.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  display: none !important;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* color: #fff !important; */
  font-family: "Proxima-Nova";
  opacity: 1; /* Firefox */
}
.normalInputs .DropdownSelects .ant-select-selector {
  height: 48px !important;
  border: 1px solid #bfbfbf !important;
}
.mainAccount {
  width: 815px;
  margin: 0 auto;
  background: #000000;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 16px;
}
.brRemove input {
  height: 48px;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}
.brRemove br {
  display: none;
}
.normalInputs
  .DropdownSelects
  .ant-select.css-dev-only-do-not-override-1km3mtt.ant-select-single.ant-select-show-arrow {
  width: 92% !important;
  height: 48px;
}
/* .EventForum .ant-row.css-dev-only-do-not-override-1km3mtt {
  justify-content: center !important;
  margin-left: 7px !important;
} */
.EventForum .ant-card-body {
  padding: 7px 9px 5px !important;
  border-top: 1px solid #ccc;
}
.optionFile {
  position: absolute;
  right: 0;
  top: 4px;
}
.manageCard {
  margin: 4px 0px;
}
.manageCard .ant-card {
  width: 100% !important;
}
.ant-card-body {
  padding: 7px 9px 5px !important;
  border-top: 1px solid #ccc;
}
.availablehour {
  background: #f3f3f3;
  padding: 14px;
}
.availablehour h6 {
  color: #666666;
  font-size: 18px;
  font-weight: 800;
  left: 1px;
}
.timeBox input {
  width: 116px;
}
.timeBox span {
  font-size: 24px;
  color: #333333;
  padding: 0 7px;
}
.deleteIcon path {
  fill: #000 !important;
}
.rmdp-header-values {
  color: #333333 !important;
  margin: 0 10px 0 6px !important;
  font-weight: 700 !important;
  font-size: 14px !important;

  position: relative;
  bottom: 8px;
  right: 29px;
}
.profileright {
  margin: 0 15px;
}
.profileright .me-2.dropdown {
  display: none !important;
}
.embedBody {
  padding-top: 80px;
}
.embedcontent {
  background: #fff;
  padding: 16px;
}
.profileright .ant-card-cover img {
  height: 160px !important;
}
.profileright .sharesvg {
  display: none !important;
}
.apprenticepage .socilemedia {
  display: none !important;
}
.profileright .copysvg {
  display: none !important;
}
.profileright .ant-card-body {
  padding: 5px 14px !important;
}
.profileBox {
  background: #fff;
  border-radius: 8px;
  padding: 12px;

  margin-bottom: 20px;
}
.mainComponent .communityRight {
  padding: 0 !important;
  margin: 0 !important;
}
.mainComponent .forumRow {
  display: none !important;
}
.body .availablehour {
  display: none !important;
}
.body .datepick button {
  display: none !important;
}
.body .datepick h3 {
  display: none !important;
}
.body .datepick {
  width: 398px !important;
  border-radius: "8px";
}
.ant-modal-wrap {
  background: #000000bf !important;
}
.body .ant-select-selector {
  padding: 0 !important;
  width: auto !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
/* .ant-modal-footer {
  display: none !important;
} */
.body span.ant-radio-inner {
  margin-right: 0 !important;
}
.breakInput br {
  display: none;
}
.inputform br {
  display: none;
}
.body
  :where(.css-dev-only-do-not-override-1km3mtt).ant-radio-wrapper
  .ant-radio-inner::after {
  width: 0 !important;
}
.body
  :where(.css-dev-only-do-not-override-1km3mtt).ant-radio-wrapper
  .ant-radio-checked
  .ant-radio-inner {
  background-color: #cb2c2c !important;
  margin-right: 0 !important;
  border-width: 0 !important;
}
.body .ant-select-arrow span svg path {
  fill: #fff !important;
  font-weight: 700 !important;
}
.body .ant-select-selection-item {
  background: #333333 !important;
  letter-spacing: 1px !important;
  padding-top: 3px !important;
  padding-left: 13px !important;
  color: #fff !important;
}

span.ant-modal-close-x {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.body {
  background: #f3f3f3;
  width: 774px;
  border-radius: 8px;
}
span.ant-modal-close-x svg path {
  fill: #fff !important;
}

.body .rmdp-day {
  height: 50px !important;
}
.body h1 {
  display: none !important;
}
/* .ant-modal-content {
  background: transparent !important;
} */
span.rmdp-arrow-container.rmdp-left {
  left: 92px !important;
}
.rmdp-arrow {
  border: solid #cb2c2c !important;
  border-top: 0 !important;
  border-left: 0 !important;
}
.bottomdiv h3 {
  display: none;
}
span.rmdp-arrow-container.rmdp-right {
  right: 12px !important;
}
.rmdp-arrow-container {
  position: relative !important;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 0 !important;
}
.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #cb2c2c !important;
  color: #fff !important;
}
.plusIcon path {
  fill: #cb2c2c !important;
}
.deleteIcon {
  width: 13px !important;
}
.timeBox .btn-box span {
  margin: 0 !important;
}
.datepick {
  width: 330px;
  background: #fff;
  padding: 0 0 16px;
  border-radius: 4px;
}
.datepick .rmdp-wrapper.rmdp-shadow {
  width: 100% !important;
}
.datepick .rmdp-day-picker {
  width: 100% !important;
}
.rmdp-shadow {
  box-shadow: none !important;
}
.rmdp-day {
  height: 42px !important;
}
.rmdp-day .sd {
  font-size: 15px !important;
  color: #666666 !important;
  font-weight: 400 !important;
  font-family: "Inter", sans-serif;
}
.datepick h3 {
  font-size: 24px;
  color: #5c5c5c;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 10px;
}
.datetimeschedule .css-b62m3t-container {
  width: 234px !important;
}
.rmdp-week-day {
  font-size: 12px !important;
  color: #333333 !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
}

.rmdp-day.rmdp-today span {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #cb2c2c !important;
  font-size: 15px !important;
  font-weight: 700 !important;
}
.rmdp-day-picker div {
  width: 100% !important;
}
.datepick .rmdp-calendar {
  width: 100% !important;
}
.blackColor .dropdown-toggle {
  border: 1px solid #fff !important;
}
.show.dropdown .dropdownSwitch {
  display: none !important;
}
.blackColor .show.dropdown .dropdownSwitch {
  display: block !important;
  padding-top: 5px;
}
:where(.css-dev-only-do-not-override-1km3mtt).ant-switch.ant-switch-checked {
  background: #cb2c2c !important;
  position: relative !important;
  bottom: 3px !important;
}
.whiteColor .show.dropdown .dropdownSwitch {
  display: block !important;
  padding-top: 5px;
}
.whiteColor .dropdown-toggle svg path {
  fill: #000 !important;
}
span.ant-input-data-count {
  position: relative;
  bottom: 28px !important;
  font-weight: bold;
  color: #fff !important;
  right: 15px !important;
  bottom: 4px !important;
}
.publishImg {
  position: absolute !important;
  right: 0 !important;
  opacity: 0 !important;
}
.svgIcon path {
  fill: #fff;
}
.svgIcon {
  position: relative;
  bottom: 2px;
}
.customcheck {
  padding-top: 10px;
  padding-left: 10px;
}
.btnEvents {
  display: flex;
  border: 0;
  width: 188px;
  height: 38px;
  background: #cb2c2c;
  color: #fff;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px;
}
.activitylist .ant-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.btnEvents svg {
  margin-right: 11px;
  position: relative;
  bottom: 2px;
  left: 3px;
}
.navDropdown svg path {
  fill: #a8a8a8 !important;
}
.navDropdowns.dropdown-item svg path {
  fill: #a8a8a8 !important;
}
.customcheck .ant-checkbox-inner {
  background: transparent !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 100% !important;
}
.customcheck label.ant-checkbox-wrapper.css-dev-only-do-not-override-1km3mtt {
  position: relative;
  bottom: 3px !important;
}
.customcheck
  .ant-checkbox.css-dev-only-do-not-override-1km3mtt.ant-checkbox-checked
  .ant-checkbox-inner {
  background: #ff3030 !important;
}
.customcheck
  :where(.css-dev-only-do-not-override-1km3mtt).ant-checkbox
  .ant-checkbox-inner:after {
  left: 7px !important;
}
.navDropdown .dropdown-menu.show {
  width: 242px !important;
  height: 233px !important;
  left: auto !important;
  top: 45px !important;
  right: -20px !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  padding-top: 0 !important;
}
.customcheck h3 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
}
.customcheck p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
}
/* .tabs .ant-tabs.ant-tabs-top.css-dev-only-do-not-override-1km3mtt {
  padding-top: 64px !important;
} */
.dropdownlist button#dropdown-basic {
  border: 0 !important;
}
.btn-box span {
  margin: 0 0px 0 22px !important;
}
/* input[type="time"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../assets/images/down.svg) no-repeat !important;
  width: 20px;
  position: relative;
  top: 10px;
  height: 20px;
  border-width: thin;
} */
input[type="time"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../assets/images/down.svg) no-repeat !important;
  width: 20px;
  position: relative;
  top: 10px;
  height: 20px;
  border-width: thin;
}
.dropdownlist button#dropdown-basic svg path {
  fill: #fff !important;
}
.breakInput label {
  font-size: 16px;
  color: #333333;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  padding-bottom: 7px;
}
.normalInputs br {
  display: none;
}
.normalInputs input {
  height: 48px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
}
.mainAccount .ant-col-sm-6 {
  display: block;
  flex: 0 0 28% !important;
  max-width: 28% !important;
}
.mainAccount .ant-col-sm-18 {
  display: block !important;
  flex: 0 0 72% !important;
  max-width: 72% !important;
}
.mainAccount svg {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 1px;
  margin-right: 6px;
}
.mainAccount .nav-link.active {
  background-color: transparent !important;
}
.mainAccount .nav-link.active svg path {
  fill: #ff3030 !important;
}
.customcheck .ant-checkbox-checked .ant-checkbox-inner {
  background: #ff3030 !important;
}
.customcheck .ant-checkbox-checked .ant-checkbox-inner:after {
  position: relative !important;
  left: 7px !important;
}
.mainAccount svg path {
  fill: #fff !important;
}
.tabs .nav-link.active {
  background: transparent !important;
  color: #fff !important;
  padding: 8px !important;
  font-size: 17px !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  border: 0 !important;
}
.apprenticepage .activityList .dropdown {
  padding-left: 11px !important;
}
button#dropdown-basic {
  width: 61px;
}
.activityList .ant-card {
  width: 380px !important;
}
.activityList .dropdown button {
  width: 100% !important;
  border: 0 !important;
  text-align: start;
  font-size: 21px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  padding-top: 0;
  padding-left: 0 !important;
}

button#dropdown-basic svg {
  width: 20px !important;
}
.dropdown-menu.show {
  width: 210px !important;
  padding: 10px;
}
.nav-tabs {
  border-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.tabs .nav-link {
  background: transparent;
  color: #fff;
  padding: 8px;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  border: 0 !important;
}
#uncontrolled-tab-example-tabpane-Notification .dropdown button svg path {
  fill: #fff;
}
.CopyBtn {
  color: #333 !important;
  font-size: 13px !important;
  font-weight: 700 !important;
  font-family: "proxima-nova";
  letter-spacing: 1px;
  width: auto !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  height: 43px;
  position: relative;
  top: 7px;
}
.color {
  color: #cb2c2c;
  font-weight: 600;
}
.ShareBtn {
  margin-top: 0 !important;
  outline: 1px solid #333 !important;
  font-size: 13px !important;
  color: #333 !important;
  font-family: "proxima-nova" !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  height: 24px !important;
  width: 69px !important;
  border-radius: 4px;
  padding: 11px !important;
  position: relative;
  top: 16px;
}
.scheduleSection {
  padding: 0 !important;
}
.scheduleSection .ant-row {
  padding: 0 !important;
  margin-bottom: 30px !important;
}
.scheduleSection div {
  padding: 0 !important;
  text-align: left !important;
}
.publishSummary .position-relative button span {
  color: #fff !important;
}
.footer div {
  margin-bottom: 0 !important;
}
.footer {
  border-top: 1px solid #333 !important;
}
.scheduleSection .ant-col.ant-col-md-12 span {
  margin: 0 10px !important;
}
.scheduleSection .ant-col.ant-col-md-4 {
  position: relative;
  top: 13px;
}
.scheduleSection .ant-col.ant-col-md-3 p {
  padding-left: 16px !important;
}
.scheduleSection p {
  text-align: left !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
