.followingDetail {
  color: #fff;
}
.followingDetail h6 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.InputField {
  background-color: #292929;
  height: 48px;
  border-radius: 4px;
  border: 0;
  color: #fff;
}
.InputField::placeholder {
  color: #fff !important;
  font-family: "Inter", sans-serif;
  opacity: 1; /* Firefox */
}
.InputField {
  color: #000 !important;
}
