.Availability {
  border: 1px solid #ddd;
  width: 810px;
  border-radius: 5px;
  padding: 10px 16px 16px;
}
.Availability hr {
  border-bottom: 1px solid #474747 !important;
  width: 500px !important;
  margin-top: 30px !important;
  margin-bottom: 8px !important;
}
.WidthBtn {
  width: 219px !important;
  height: 35px !important;
  margin: 0 !important;
  border-radius: 4px !important;
  margin-right: 14px !important;
}
