.accountSetup span {
  color: #ff3030;
}
.accountSetup h1 {
  font-size: 37px;
  font-weight: 800;
  font-family: "Proxima Nova";
  color: #fff;
  letter-spacing: 1px;
}
.BtnCancel {
  width: auto !important;
  height: auto !important;
  padding: 0 !important;
  font-size: 15px !important;
  font-family: "proxima-nova";
  letter-spacing: 1px !important;
  border: 0 !important;
  margin-top: 0 !important;
  margin-right: 12px !important;
}
.BtnNext {
  font-size: 17px;
  color: #fff;
  height: 37px;
  width: 67px;
  letter-spacing: 1px;
  font-family: "proxima-nova";
  border-radius: 4px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 19px 15px;
  border-bottom: 1px solid #555555;
  margin-bottom: 24px;
}
.header h1 {
  font-size: 24px;
  font-family: "proxima-nova";
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
}
.customInput {
  width: 555px;
  position: relative;
}
.customInput input {
  height: 55px;
  border-radius: 3px;
  margin-left: 18px;

  margin-bottom: 26px;
}
.customInput label {
  padding-left: 18px;
}
.sales {
  margin-top: 31px;
  position: relative;
  top: 8px;
}
.dollarIcon svg {
  position: absolute;
  top: 40px;
  left: 25px;
}
.headerComponent div {
  text-align: center;
  padding: 0px 7px 7px;
  width: auto !important;
  height: auto !important;
  margin-top: 0 !important;
}
.headerComponent div h4 {
  font-size: 18px !important;
  padding-top: 14px !important;
}
.headerComponent div p {
  font-size: 14px !important;
  font-weight: 500 !important;
  margin: 0;
  font-family: "Proxima Nova";
}
.eventDate h3 {
  text-align: initial;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "proxima-nova";
  margin: 0;
  padding-top: 16px;
}
.eventDate {
  padding: 2px 15px 0 !important;
}
.scheduleDate {
  text-align: left !important;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 0 0 14px !important;
  margin: 20px !important;
}
.startTime {
  text-align: start !important;
}
.startTime input {
  height: 55px !important;
  border-radius: 3px !important;
  width: 298px !important;
}
.startTime label {
  padding-left: 8px;
}
